<section>
  <div class="row my-5">
    <div class="col-12">
      <div class="container">
        <div id="about">
          <h2 class="text-center-heading mb-5">About Me</h2>
          <p> Hi! I'm Tashika, originally from the Philippines. I moved to Japan with my family in 2015. I love the culture and food in Japan and knew I wanted to live here. </p>
          <p> I started my journey into programming back in college and landed my first solution developer position at my alma mater. My first job in Japan was as a Technical Consultant at a Microsoft ERP vendor. </p>
          <p> After being away from the IT industry for some time, I decided I want to get back in the field and I enrolled in a full-time, 10-week boot camp in Tokyo to help me fill my technical gap and get into the right path of learning the current trends and best practices. Since then, I have been learning in demand technology and continuously practicing by working on personal projects. I want to use my skills to create positive experiences for people through design and technology. </p>
        </div>
      </div>
    </div>
  </div>
</section>
