<section>
  <div class="row my-5">
    <div class="col-12">
      <div class="container ">
        <div id="about">
          <h2 class="text-center-heading">About Me</h2>
          <p> Hi! I'm Tashika, originally from the Philippines. I moved to Japan with my family back in 2015 after several visits from previous travels. I knew from my very first trip in Japan that I wanted to live here.</p>
          <p> I started my journey into programming back in college and landed my first job as a Solutions Developer at my alma mater. My first job in Japan was as a Technical Consultant at a Microsoft ERP vendor. During this time, I had to step back from the industry to take care of my family.</p>
          <p> While on my tech hiatus and family duties, I decided to conquer my fear of public speaking. I pushed myself and applied for an English Instructor position at one of the business English schools in Japan with zero experience. Five years later, I realized how much I liked teaching students and meeting wonderful people, and how much I have missed coding.</p>
          <p>Now that my family is settled, I enrolled in a full-time, 10-week bootcamp in Tokyo, Japan to help me get into the right path of learning and revamp my coding skills. I am excited to learn more things and create positive experiences for people through design and technology.</p>
        </div>
      </div>
    </div>
  </div>
</section>
