<div class="row justify-content-center banner scroller">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div>
      <%= partial 'images/TC-transparent-sm.svg' %>
    </div>
    <h1 class="text-title">TASHIKA CRUZ</h1>
    <p class="text-job-position">Full-Stack Developer</p>
  </div>
</div>
