<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= partial 'images/TC-transparent.svg' %>
    <h1 class="title-main">TASHIKA CRUZ</h1>
  </div>
</div>
