<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div>
      <%= partial 'images/TC-transparent-sm.svg' %>
    </div>
    <h1 class="title-name">TASHIKA CRUZ</h1>
    <p>Full-Stack Developer</p>
  </div>
</div>
