  
<div class="technology-container">
  <img class="technology-icons" src="assets/images/HTML5-logo.svg" alt="">
  <img class="technology-icons" src="assets/images/CSS3-logo.svg" alt="">
  <img class="technology-icons" src="assets/images/Ruby-logo.svg" alt="">
  <img class="technology-icons" src="assets/images/Github-icon.svg" alt="">
  <img class="technology-icons" src="assets/images/Figma-logo.svg" alt="">
</div>
